body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.avatar-field{
  margin-top: 10vh;
}
.header,.home-header{
  box-shadow: 0 3px 2px #777;
}


.post-details-article{
  position: absolute !important;
  left: 30vh;
  font-size: 3vh;
}
.home-header{
  background-color: #C6FF00;
  width:100%;
}
.home-header .title span{
  color: #AEEA00 !important;
}

.label:hover{
  cursor: pointer;
  color:black !important;
  transition: 0.1s color !important;
}

.dashboard{
  background: rgb(255,255,255) ;
  background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%) ;
  background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%) ;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1 );
}

#ham-burger{
  font-size: 6vh;
  color: white;
  float: right;
  cursor: pointer;
}
.hamburger-control{
  animation-name: bounceInDown;
  animation-duration: 0.3s;
}
.hide-item{
  display: none !important;
}
.category-cards{
  height: 40vh;
  cursor: pointer;
  padding: 0px !important;
  margin: 3vh;
  text-align: center;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.all-posts{
  padding: 10px;

}

.category-cards:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-color: #B2FF59;
}
.category-cards img{
  min-height: 80%;
  min-width: 100%;
  max-height: 80%;
  max-width: 100%;
}
.warrior-img{
  min-height: 150px;
  max-height: 150px;
}
.warrior-img img{
max-width: 100%;
max-height: 100%;
border: 3px solid white;
margin: 5px;
border-radius: 5px;
min-width: 140px;
max-width: 140px;
max-height: 140px;
min-height: 140px;
}


.landing{
  height: 100%;
  border: 1px solid white;
}
.landing .header{
  height: 15vh;
  padding: 2vh;
  background-color: #212121;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.error-div{
  width: 70%;
  text-align: center;
  margin: 0 auto;
}
.title{
    font-size: 5vh;
    padding: 2vh;
    color: #ECEFF1;
    text-shadow: 1px 1px #666;
}
.letsGo{
  font-size: 10vh;
  text-align: center;
  color: white;
}
.letsGo span{
  background-color: #212121ee;
  cursor: pointer;
  border-radius: 30%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}
.title span{
  font-size: 8vh;
  font-weight: 400;
  color: #C6FF00;
}
.landing-input-field{
  width: 50%;
  margin: 0 auto;
  margin-top: 5vh;
}

.landing-input-field input{
  background-color: #00000000 !important;
  border: none !important;
  color:white !important;
  border-bottom: 2px groove #212121 !important;
  transition: all 2s;
}
.landing-input-field input:focus{
  border-bottom: 2px groove darkgreen !important;
  transition: all 2s;
}

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
