@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300');
body {
  margin: 0;
  padding: 0;
  background-color: #666 !important;
  font-family: 'Josefin Sans', sans-serif;
}

.center-align{
  text-align: center;
}

.full-size{
  position: absolute;
  top: 0;
  left:0;
  bottom:0;
  right:0;
  min-height: 1000px;
}
.avatar-field{
  margin-top: 10vh;
}
.my-header,.home-header{
  box-shadow: 0px 3px 2px #777;
}
.form{
  font-size: 3vh !important;
}
.create-header{
  background: rgb(76,76,76);
background: -moz-linear-gradient(45deg, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
background: -webkit-linear-gradient(45deg, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%);
background: linear-gradient(45deg, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=1 );
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.author-image{
  min-width: 200px;
  min-height: 200px;
  max-width: 200px;
  max-height: 200px;
  border-radius: 100%;
  border: 2px groove green;
}
.author-info{
  text-align: center;
}
.comment-section{
  min-height: 300px;
  padding: 100px;
  background-color: #F1F8E9;
}
.author-info-details{
  background-color: white !important;
  text-align: center;
}
.round-comment-image{
  border: 1px solid green !important;
  border-radius: 100% !important;
  min-width: 140px;
  min-height: 140px;
  max-width: 140px;
  max-height: 140px;
}

.add-border{
  border: 1px solid #ccc !important;
  padding: 20px !important;
  border-radius: 10px;
}

.article-header{
  background: rgb(191,210,85);
  background: -moz-linear-gradient(45deg, rgba(191,210,85,1) 0%, rgba(142,185,42,1) 50%, rgba(114,170,0,1) 51%, rgba(158,203,45,1) 100%);
  background: -webkit-linear-gradient(45deg, rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%);
  background: linear-gradient(45deg, rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=1 );
position: fixed;
box-shadow: 0 8px 6px -6px black;

top:0;
left:0;
right:0;
z-index: 19;
}

.author-info{
  background-color: #F1F8E9;
  padding: 50px !important;
}
.readable-content{
text-align: center;
padding: 10vh;
}
.author-image{
  max-width: 200px;
  min-width: 200px;
  max-width: 200px;
  min-height: 200px;
}
.readable-article{
  background: rgb(149,149,149);
  margin-top: 99px !important;
  color:black;

}

.post-details-article{
  font-size: 3vh;
}
.home-header{
  background: rgb(191,210,85);
background: -moz-linear-gradient(45deg, rgba(191,210,85,1) 0%, rgba(142,185,42,1) 50%, rgba(114,170,0,1) 51%, rgba(158,203,45,1) 100%);
background: -webkit-linear-gradient(45deg, rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%);
background: linear-gradient(45deg, rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=1 );
  width:100%;
}
.home-doobie{
  color: #AEEA00 !important;
}

.label:hover{
  cursor: pointer;
  color:black !important;
  transition: 0.1s color !important;
}

.dashboard{
  background: rgb(255,255,255) ;
  background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%) ;
  background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%) ;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1 );
}

.small-user-image{
  max-width: 70px;
  max-height: 70px;
  min-width: 70px;
  min-height: 70px;
  border-radius: 100%;
}

.header-floaters{
  font-size: 6vh;
  color: white;
  padding:7px;
  float: right;
  cursor: pointer;
}
.header-floaters:hover{
  color: black;
}
.hamburger-control{
  animation-name: bounceInDown;
  animation-duration: 0.3s;
}
.hide-item{
  display: none !important;
}
.category-cards{
  height: 40vh;
  cursor: pointer;
  padding: 0px !important;
  margin: 3vh;
  text-align: center;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.all-posts{
  padding: 10px;

}

.category-cards:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-color: #B2FF59;
}
.category-cards img{
  min-height: 80%;
  min-width: 100%;
  max-height: 80%;
  max-width: 100%;
}
.warrior-img{
  min-height: 150px;
  max-height: 150px;
}
.warrior-img img{
max-width: 100%;
max-height: 100%;
border: 3px solid white;
margin: 5px;
border-radius: 5px;
min-width: 140px;
max-width: 140px;
max-height: 140px;
min-height: 140px;
}


.landing{
  height: 100%;
  border: 1px solid white;
}
.landing .my-header{
  height: 15vh;
  padding: 2vh;
  background: rgb(76,76,76);
background: -moz-linear-gradient(45deg, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
background: -webkit-linear-gradient(45deg, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%);
background: linear-gradient(45deg, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=1 );
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.error-div{
  width: 70%;
  text-align: center;
  margin: 0 auto;
}
.title{
    font-size: 5vh;
    padding: 2vh;
    color: #ECEFF1;
    text-shadow: 1px 1px #666;
}
.letsGo{
  font-size: 10vh;
  text-align: center;
  color: white;
}
.letsGo span{
  background-color: #212121ee;
  cursor: pointer;
  border-radius: 30%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}
.home-doobie{
  font-size: 8vh;
  font-weight: 400;
  color: #C6FF00;
}
.landing-input-field{
  width: 50%;
  margin: 0 auto;
  margin-top: 5vh;
}

.landing-input-field input{
  background-color: #00000000 !important;
  border: none !important;
  color:white !important;
  border-bottom: 2px groove #212121 !important;
  transition: all 2s;
}
.landing-input-field input:focus{
  border-bottom: 2px groove darkgreen !important;
  transition: all 2s;
}

.effect2
{
  position: relative;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.effect2:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}


@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


.effect7
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect7:before, .effect7:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect7:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}
